body {
    background-color: #030105;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    margin: 0;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: 700;
}


.container {
    width: 850px;
    background-color: #4a1a6c; 
    border-radius: 15px;
    padding: 40px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}


.bloco-info {
    display: flex; 
    align-items: flex-start; 
    gap: 20px; 
}

.icon img {
    width: 40px; 
    height: auto;
    margin-top: 5px;
}


.conteudo p {
    margin: 0;
}

.conteudo .titulo-bloco {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.conteudo .descricao {
    font-size: 0.9em;
    color: #e0e0e0; 
    margin-top: 10px; 
}


.miniquadrado {
    background: #772CA2B0;
    border-radius: 5px; 
    padding: 10px 15px; 
    display: inline-block; 
}

.miniquadrado p {
    margin: 0;
    font-size: 1em;
}

.formula-longa {
    background: #772CA2B0; 
    border-radius: 5px; 
    width: 220px;
     padding: 10px 15px; 
      font-family: 'Josefin Sans', sans-serif;
}